@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bs-primary: #166041;
    --bs-primary-rgb: 22, 96, 65;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar {
    background-color: #FFFCF2;
}

.video-section {
    width: 100%;
    height: 350px;
    border: 2px solid #166041;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 10px;
}

.video-section video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.batch-number {
    font-size: 0.8rem;
    margin-top: 0;
    color: #555;
}

.product-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 20px;
}

.product-detail {
    font-size: 1rem;
    margin-bottom: 20px;
}

.icon-box {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 0.7rem;
}

.icon {
    color: #00A63E;
    background-color: #F5FFEC;
    padding: 12px;
    font-size: 1rem;
}

.cert-item {
    padding: 10px 20px;
    background-color: #F5FFEC;
    border-radius: 20px;
    color: #016730;
    font-weight: bold;
    font-size: 0.8rem;
}

.box-container p {
    margin-bottom: 0;
    margin-left: 4px;
}

.box-container .box-date {
    font-weight: 600;
    font-size: 0.85rem;
    margin-top: 6px;
    color: #727272;
}

.box-container .box-content {
    font-size: 0.85rem;
    margin-top: 2px;
}

.box-container+.box-container {
    margin-top: 16px;
}

.svg-col {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
}

.box {
    padding: 10px 20px;
    background-color: #3C2003;
    color: white;
    font-weight: 600;
    border-radius: 24px;
    text-align: center;
    width: max-content;
    font-size: 0.8rem;
    position: relative;
}

/* Hình bên trái */
.box::before {
    content: "";
    position: absolute;
    left: -160px;
    /* cách box một đoạn */
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 120px;
    /* link hình */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* ép ảnh khớp khung */
    background-position: center;
}

/* Đường nối */
.box::after {
    content: "";
    position: absolute;
    left: -84px;
    /* vị trí đường nối */
    top: 50%;
    transform: translateY(-50%);
    width: 92px;
    height: 2px;
    background-color: #3C2003;
}

.box-container:nth-child(1) .box::before {
    background-image: url('./img/gd1.svg');
}

.box-container:nth-child(2) .box::before {
    background-image: url('./img/gd2.svg');
    top: 20%
}

.box-container:nth-child(3) .box::before {
    background-image: url('./img/gd3.svg');
    top: 10%;
}

.box-container:nth-child(4) .box::before {
    background-image: url('./img/gd4.svg');
    top: -20%;
}

.box-container:nth-child(5) .box::before {
    background-image: url('./img/gd5.svg');
    top: -45%;
}

.box-container:nth-child(6) .box::before {
    background-image: url('./img/gd6.svg');
    top: 15%;
}



.provider-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.provider-item {
    display: flex;
    padding: 10px;
    gap: 16px;
    align-items: center;
}

.provider-icon {
    padding: 10px;
    color: #00A63E;
    background-color: #F5FFEC;
    font-size: 1.5rem;
}

.provider-content h6 {
    margin-bottom: 0;
}

.provider-content p {
    margin-bottom: 0;
    font-size: 0.85rem;
    color: #727272;
}

.footer-container {
    background-color: #F6FFE6;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 24px 24px 0 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.custom-footer {
    width: 80%;
    margin: 0 auto;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 1.5rem;
}

.footer-center {
    width: 80px;
    height: 80px;
    background-color: #F6FFE6;
    /* màu chủ đạo */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #166041;
    font-size: 24px;
    margin-top: -30px;
    box-shadow: 0 -4px 6px -2px rgba(0, 0, 0, 0.2);
}

.footer-icon {
    font-size: 24px;
    color: #166041;
    text-decoration: none;
}