@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bs-primary: #166041;
    --bs-primary-rgb: 22, 96, 65;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}